{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "exclude": ["transform-es2015-classes"]
            }
        ],
        "react"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        ["transform-decorators-legacy"],
        ["transform-object-rest-spread"],
        ["transform-es2015-destructuring"],
        ["transform-class-properties"]
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "env",
                    "stage-0",
                    [ "es2015", { "modules": false } ]
                ],
                "react"
            ]
        }
    },
    "ignore": "node_modules"
}
